<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .name {
        color: black;
        font-weight: bold;
        margin-left: 3px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #8257e6;
    }

    span {
        color: green;
    }
</style>

<div class="container">
    <label class="title">
        Olá, <span class="name">{{name}}</span>! Você esqueceu sua senha?
    </label>

    <br />

    <strong>Nós podemos te ajudar. Clique no link abaixo para poder recuperar sua senha:</strong> <br /> <br />

    <a href="#">Link para troca de senha</a>

    <h4>Atenciosamente, Equipe <span>Tomadas Automotivas</span></h4>
</div>